<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641494071867-itg07jl2f30uksegv982or5ehf1tplk2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641494071867-itg07jl2f30uksegv982or5ehf1tplk2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>641494071867-00ff59d8adm5j6f7ah5m9npjemsue7dd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBmculA7jcEYKj8rLdsbbH447hXWbbfW9o</string>
	<key>GCM_SENDER_ID</key>
	<string>641494071867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blv.bulovvaStore</string>
	<key>PROJECT_ID</key>
	<string>bulovva-7fdb8</string>
	<key>STORAGE_BUCKET</key>
	<string>bulovva-7fdb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641494071867:ios:12eaff97f0e9ecc0097a1e</string>
</dict>
</plist>